if [[ "1" == $ZRCDEBUG ]]; then echo -n ".aliases "; fi

# directories
alias -g Trash=$TRASH
alias -g .zsh=$ZDOTDIR

# configs files
configs=( aliases complete exports options localrc zshenv zshrc )
for i in $configs; do alias -g .$i=$ZDOTDIR/.$i; done
unset configs
alias zrcdebug='ZRCDEBUG=1 zsh'

# system files
alias -g hosts=/etc/hosts

# moving around
alias ls='ls -aF'
alias ll='ls -alF'
alias pd='pushd'
alias dirs='dirs -v'
alias swap='pushd +1'

# cleanup
alias rmds='find . -type f -name .DS_Store -exec rm {} \;'
alias rm='rm -i'

# typos and bad habits
alias cd..='cd ..'
alias mroe=more	   # chill, it's linked to less
alias aliases=alias

# programs
alias em='emacs'

# mac os specific
alias sf='SetFile' # -a V filename # => invisible
alias sloff='sudo chmod 600 $SEARCH'
alias slon='sudo chmod 755 $SEARCH'
alias killmenu='killall SystemUIServer'
alias showlib='chflags nohidden $HOME/Library/'
alias flushdnsold='sudo dscacheutil -flushcache'
alias flushdnsnew='sudo killall -HUP mDNSResponder'

# helpers
alias ip='ifconfig -a | grep "inet " | grep -v tunnel | cut -d" " -f2'
