if [[ "1" == $ZRCDEBUG ]]; then echo -n ".exports "; fi

# shell variables
export EDITOR="emacs"
export PAGER="less"

# paths
export CDPATH=$HOME/Work
export PATH=/usr/local/bin:/usr/local/sbin:/usr/X11/bin
export PATH=$PATH:$HOME/Library/Bin:/usr/bin:/usr/sbin:/bin:/sbin
export MANPATH=/opt/local/share/man:/usr/local/man:/usr/share/man:/usr/X11/man

# directories
export DESKTOP=$HOME/Desktop
export TRASH=$HOME/.Trash
export WORK=$HOME/Work

# files
export SEARCH=/System/Library/CoreServices/Search.bundle/Contents/MacOS/Search
